.timeline-item {
  padding: 10px 40px;
  position: relative;
  width: 70%;
  cursor: pointer;
}

.timeline-item:nth-child(odd) {
  right: 20%;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

.timeline-content {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 25px;
  position: relative;
  transition: all 0.5s ease;
}

.timeline-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
  color: #333333;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.timeline-content p {
  color: #666666;
  margin-bottom: 10px;
}

.timeline-content ul {
  list-style-type: none;

  padding: 0;
  margin: 0;
}

.timeline-content ul li {
  color: #333333;
  margin: 5px 0;
  padding-left: 20px;
  position: relative;
}

.timeline-content ul li::before {
  content: "•";
  color: #666666;
  position: absolute;
  left: 0;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #ffffff;
  border: 4px solid #333333;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item:nth-child(even)::after {
  left: -16px;
}

@media screen and (max-width: 768px) {
  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    margin-bottom: 30px;
    left: 0 !important;
  }

  .timeline-item::after {
    left: 31px;
    right: auto;
    transform: translateX(-50%);
  }

  .timeline-content {
    width: 100%;
  }

  .timeline-item:nth-child(odd)::after {
    left: 11px;
  }

  .timeline-item:nth-child(even)::after {
    left: 11px;
  }
}

@media screen and (max-width: 480px) {
  .timeline-item {
    padding-left: 50px;
  }

  .timeline-item::after {
    left: 25px;
    width: 20px;
    height: 20px;
    transform: translateX(-50%);
  }

  .timeline-item:nth-child(even)::after {
    left: 15px;
    transform: translateX(-50%);
  }
  .timeline-item:nth-child(odd)::after {
    left: 15px;
    transform: translateX(-50%);
  }
}
