.app__skill {
  display: flex;
  width: 12rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.app__skill h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.app__skill:hover img {
  transform: scale(1.2);
}

.app__skill img {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}
